.userAvatar__text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--avatar-size, 3.5rem);
  height: var(--avatar-size, 3.5rem);
  color: var(--asc-color-base-shade4);
  background-color: var(--asc-color-secondary-shade2);
  text-transform: uppercase;
  overflow: hidden;
}

.userAvatar__placeholder {
  position: relative;
  width: var(--avatar-size, 3.5rem);
  height: var(--avatar-size, 3.5rem);
  border-radius: 50%;
  background-color: var(--asc-color-primary-shade2);
}

.userAvatar__placeholder__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--asc-color-white);
  cursor: pointer;

  /* Typograhy.Title is now Typograhpy.TitleBold, need to be fixed  */
  font-weight: 400;
}

.userAvatar__container {
  position: relative;
  cursor: pointer;
}

.userAvatar__img {
  border-radius: 50%;
  object-fit: cover;
  width: var(--avatar-size, 3.5rem);
  height: var(--avatar-size, 3.5rem);
}

.userAvatar__badge {
  width: 1.25rem;
  position: absolute;
  height: 1.25rem;
  bottom: 2px;
  right: -4px;
}

.userAvatar__skeleton {
  width: var(--avatar-size, 3.5rem);
  height: var(--avatar-size, 3.5rem);
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--asc-color-base-shade4);
  animation: skeleton-pulse 1.5s ease-in-out infinite;
}

/* Begin Custom CSS */
.userAvatar__wrapper {
  position: relative;
  display: flex; /* Changed from inline-block to flex for better centering */
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it fills the parent circle */
  height: 100%;
}

.userAvatar__trophy {
  position: absolute;
  bottom: calc(var(--avatar-size, 3.5rem) * -0.1);
  font-size: calc(var(--avatar-size, 3.5rem) * 0.2);
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border-radius: 10px;
  padding: 1px 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  white-space: nowrap;
}

.userAvatar__trophyText {
  color: white;
  font-size: 10px; /* Small text size */
  font-weight: bold;
  margin-right: 2px;
}

.userAvatar__trophy svg {
  width: calc(var(--avatar-size, 3.5rem) * 0.2);
  height: auto;
  vertical-align: middle; /* Align with text baseline */
}

/* End Custom CSS */

@keyframes skeleton-pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
